{% extends 'base.html.twig' %}

{% block menu %}
    <a class="btn btn-primary" href="{{ path('country_new') }}">Add new country</a>
{% endblock %}
{% block body %}
    <section class="bg-white text-center">
        <div class="container">
            <div class="row m-5">
                <div class="col-lg-12">
                    <h2>Countries list</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>States</th>
                                <th>Average tax rate</th>
                                <th>Overall taxes </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for country in countries %}
                            <tr>
                                <td><a href="{{ path('country_show', { 'id': country.id }) }}">{{ country.id }}</a></td>
                                <td>{{ country.name|country }}</td>
                                <td>{{ country.states|length }}</td>
                                <td>{{ country|avgTax|number_format(2, '.') }}%</td>
                                <td>{{ country|collected|number_format(2, '.', ',') }} &euro;</td>
                                <td>
                                    <div class="row">
                                        <div class="col-4">
                                            <a class="btn btn-sm btn-info"
                                               href="{{ path('country_show', { 'id': country.id }) }}">show</a>
                                        </div>
                                        <div class="col-4">
                                            <a class="btn btn-sm btn-outline-primary"
                                               href="{{ path('country_edit', { 'id': country.id }) }}">edit</a>
                                        </div>
                                        <div class="col-4">
                                            <a class="btn btn-sm btn-outline-danger" href="{{ path('country_delete', { 'id': country.id }) }}">delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}