{% extends 'base.html.twig' %}
{% block menu %}
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary" href="{{ path('state_new', { 'id': country.id }) }}">Add new state</a>
        </div>
        <div class="col-6">
            <a href="{{ path('country_index') }}" class="btn btn-outline-info">Back to countries list</a>
        </div>
    </div>

{% endblock %}
{% block body %}
    <section class="bg-white">
        <div class="columns-block container">
            <div class="row m-5">
                <div class="col-3 text-center">
                    <div class="content">
                        <h1>{{ country.name|country }}</h1>
                        <p class="text-info">{{ country.states|length }} states</p>
                        <p class="text-info">Average tax rate: {{ avgTaxRate|number_format(2, '.') }}%</p>
                        <span class="text-danger">Overall collected:</span>
                        <p class="text-danger">{{ collectedTaxes|number_format(2, '.', ',') }} &euro;</p>
                    </div>
                </div>
                <div class="col-9">
                    <h3>States</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Counties</th>
                            <th>Avg tax rate</th>
                            <th>Overall Collected</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for state in country.states %}
                            <tr>
                                <td>{{ state.name }}</td>
                                <td>{{ state.counties|length }}</td>
                                <td>{{ state|avgTax|number_format(2, '.') }}%</td>
                                <td>{{ state|collected|number_format(2, '.', ',') }} &euro;</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <a class="btn btn-sm btn-info"
                                               href="{{ path('state_show', { 'id': state.country.id, 'state_id': state.id }) }}">show</a>
                                        </div>
                                        <div class="col-6">
                                            <a class="btn btn-sm btn-outline-primary"
                                               href="{{ path('state_edit', { 'id': state.country.id, 'state_id': state.id }) }}">edit</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
