{% extends 'base.html.twig' %}
{% block menu %}
    <a href="{{ path('state_show', { 'id': state.country.id, 'state_id': state.id }) }}" class="btn btn-outline-info">Back
        to counties
        list</a>
{% endblock %}
{% block body %}
    <section class="bg-white">
        <div class="container">
            <div class="row m-5">
                <div class="col-lg-12">
                    <h1>County edit</h1>
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" class="btn btn-success" value="Save"/>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
