{% extends 'base.html.twig' %}
{% block menu %}
    <a href="{{ path('state_show', { 'id': county.state.country.id, 'state_id': county.state.id }) }}"
       class="btn btn-outline-info">Back to states list</a>
{% endblock %}
{% block body %}
    <section class="bg-white">
        <div class="container">
            <div class="row m-5">
                <div class="col-lg-12">
                    <h1>Add new county to {{ county.state.name }}</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-success">Add</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}