{% extends 'base.html.twig' %}
{% block menu %}
    <a href="{{ path('country_show', { 'id': state.country.id }) }}" class="btn btn-outline-info">Back to states
        list</a>
{% endblock %}
{% block body %}
    <section class="bg-white">
        <div class="container">
            <div class="row m-5">
                <div class="col-lg-12">
                    <h1>State edit</h1>
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <div class="row">
                        <div class="col-1">
                            <input type="submit" class="btn btn-success" value="Save"/>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-danger" href="{{ path('state_delete', { 'id': state.id }) }}">Delete</a>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
