{% extends 'base.html.twig' %}

{% block menu %}
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary" href="{{ path('state_new', { 'id': country.id }) }}">Add new state</a>
        </div>
        <div class="col-6">
            <a href="{{ path('country_index') }}" class="btn btn-outline-info">Back to countries list</a>
        </div>
    </div>
{% endblock %}
{% block body %}
    <section class="bg-white text-center">
        <div class="container">
            <div class="row m-5">
                <div class="col-lg-12">
                    <h1>States of {{ country.name|country }}</h1>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for state in states %}
                            <tr>
                                <td><a href="{{ path('state_show', { 'id': state.id }) }}">{{ state.id }}</a></td>
                                <td>{{ state.name }}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <a class="btn btn-sm btn-info"
                                               href="{{ path('state_show', { 'id': state.id }) }}">show</a>
                                        </div>
                                        <div class="col-6">
                                            <a class="btn btn-sm btn-outline-primary"
                                               href="{{ path('state_edit', { 'id': state.id }) }}">edit</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
