{% extends 'base.html.twig' %}
{% block menu %}
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary" href="{{ path('county_new', { 'id': state.id }) }}">Add new county</a>
        </div>
        <div class="col-6">
            <a href="{{ path('country_show', { 'id': state.country.id }) }}" class="btn btn-outline-info">Back to states
                list</a>
        </div>
    </div>
{% endblock %}
{% block body %}
    <section class="bg-white">
        <div class="columns-block container">
            <div class="row m-5">
                <div class="col-3 text-center">
                    <div class="content">
                        <h1>{{ state.name }}</h1>
                        <p class="text-info">{{ state.counties|length }} counties</p>
                        <p class="text-success">Average tax rate: {{ avgTaxRate|number_format(2, '.') }}%</p>
                        <span class="text-danger">Overall collected:</span>
                        <p class="text-danger">{{ collectedTaxes|number_format(2, '.', ',') }} &euro;</p>
                    </div>
                </div>
                <div class="col-9">
                    <h3>Counties</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Tax rate</th>
                            <th>Collected</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for county in state.counties %}
                            <tr>
                                <td>{{ county.name }}</td>
                                <td>{{ county.taxRate|number_format(2, '.') }}%</td>
                                <td>{{ county.taxesAmount|number_format(2, '.', ',') }} &euro;</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <a class="btn btn-sm btn-outline-primary"
                                               href="{{ path('county_edit', { 'id': state.id, 'county_id': county.id }) }}">edit</a>
                                        </div>
                                        <div class="col-6">
                                            <a class="btn btn-sm btn-outline-danger"
                                               href="{{ path('county_delete', { 'id': county.id }) }}">delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    {#<ul>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
            {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
